#Ignore raw data files

data/archive/Base.csv

data/archive/Variant I.csv

data/archive/Variant II.csv

data/archive/Variant III.csv

data/archive/Variant IV.csv

data/archive/Variant V.csv

# Dont want to upload virtual environment
./venv
venv/
# Dont want to upload data
/data
/plots
/src/plots
/src/results
