#Ignore raw data files

data/archive/Base.csv

data/archive/Variant I.csv

data/archive/Variant II.csv

data/archive/Variant III.csv

data/archive/Variant IV.csv

data/archive/Variant V.csv

#Using this file to define job for SLURM, don't want it on github
compute_spec.sh 
# Dont want to upload virtual environment
./venv
venv/
# Dont want to upload data
/data
/plots

